.content
	padding-top 15px
	p,li
		font-size 1.6rem
		line-height 2.4rem
		font-weight 300
	p
		margin-bottom 5px
		text-indent 10px
	ul
		list-style-type disc
		list-style-position inside
		margin-bottom 5px
	.no-indent
		text-indent 0
		