.promo
	padding-top 80px
	background-image url('%=static=%general/bg1.jpg')
	background-repeat no-repeat
	background-position 100% bottom
	background-size cover
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		align-items: stretch;
		min-height 715px
	&__left-col
		min-width 40%
	&__right-col
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		justify-content: center;
		width 60%
		padding-left 80px
		@media (max-width: 975px)
			padding-left 40px
		h1
			padding-left 35px
			padding-top 100px
			color $white
			font-size 3.6rem
			line-height 7.2rem
			text-align center
		span
			color $yellow
		p
			margin-bottom 60px
			padding-left 35px
			color $white
			line-height 3.6rem
			text-align center
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		align-self: center;
	&__item
		min-width 90px
		margin-right 50px
		padding-top 75px
		color $white
		font-size 1.6rem
		line-height 3.2rem
		text-align center
		@media (max-width: 975px)
			margin-right 30px
		@media (max-width: 975px)
			margin-right 10px
		&:last-child
			margin-right 0
		&_order
			background-image url(%=static=%minified-svg/icon1-3.svg)
			background-size 60px 60px
			background-repeat no-repeat
			background-position 50% 5%
		
		&_sms
			background-image url(%=static=%minified-svg/icon1-1.svg)
			background-size 60px 60px
			background-repeat no-repeat
			background-position 50% 5%
		
		&_24-hours
			background-image url(%=static=%minified-svg/icon1-2.svg)
			background-size 60px 60px
			background-repeat no-repeat
			background-position 50% 5%
