extends /markup/components/layout-default/layout-default
include /markup/components/header/header
include /markup/components/footer/footer

block head
	- var pageTitle = 'my title';
	- var pageDescription = 'my data';
	- var pageKeywords = 'my data';
block content
	+header
	+footer
