extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/tariffs/biznes
include ../components/footer/footer

block head
	- var pageTitle = 'Бизнес такси Заказать такси бизнес класса';
	- var pageDescription = 'Такси бизнес класса в москве, быстрая подача. Заказать бизнес такси в Москве можно по телефону 74951336226';
	- var pageKeywords = 'бизнес такси, такси бизнес класса, бизнес такси москва, такси бизнес класс москва, бизнес такси авто,  аренда такси бизнес класса, авто бизнес класса такси, такси машины бизнес класса,  аренда авто бизнес класс такси,  такси автомобили бизнес класса, бизнес такси аренду москве, такси бизнес сервис,  такси тариф бизнес, такси бизнес класса москва аренда, заказ такси бизнес, бизнес компании такси, такси бизнес класса отзывы,  тарифы такси бизнес класса, заказать бизнес такси, заказ такси бизнес класса, бизнес такси мерседес, диспетчерские бизнес такси, бизнес такси в аэропорт, компании такси бизнес класса, такси комфорт бизнес, заказать такси бизнес класса, такси бизнес, служба такси бизнес';
block content
	+header
	+main
	+footer
