extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/tariffs/comfort
include ../components/footer/footer

block head
	- var pageTitle = 'Тариф комфорт';
	- var pageDescription = 'Такси комфорт 7 495 133 62 26. Такси комфорт класса с фиксированными ценами';
	- var pageKeywords = 'такси комфорт,  такси комфорт класса,  телефон такси комфорт, такси комфорт москва, тарифы такси комфорт, такси комфорт класса москва, такси комфорт сайт, такси комфорт отзывы, такси комфорт официальный сайт,  номер такси комфорт, заказ такси комфорт, такси комфорт цена';
block content
	+header
	+main
	+footer
