extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/tariffs/econom
include ../components/footer/footer

block head
	- var pageTitle = 'Такси Домодедово дешево';
	- var pageDescription = 'Самое дешевое такси Домодедово';
	- var pageKeywords = 'такси домодедово дешево, такси в аэропорт домодедово дешево, такси домодедово цена дешевая, дешевое такси в аэропорт домодедово фиксированная, самое дешевое такси в аэропорт домодедово';
block content
	+header
	+main
	+footer
