extends ../components/layout-default/layout-default
//- include data.js
include ../components/header/header
include ../components/content/index/main
include ../components/footer/footer

block head
	- var pageTitle = 'Такси Домодедово';
	- var pageDescription = 'Такси в аэропорт Домодедово';
	- var pageKeywords = 'такси домодедово, такси в аэропорт домодедово, такси домодедово цена, такси домодедово фиксированная цена, такси домодедово дешево, такси домодедово москва, такси домодедово город';
block content
	+header
	+main
	+footer
