extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/tariffs/miniven
include ../components/footer/footer

block head
	- var pageTitle = 'Такси минивэн';
	- var pageDescription = '	Такси минивэн Москва. Заказать такси минивэн можно по телефону 7 495 133 62 26';
	- var pageKeywords = 'такси минивэн, такси минивэн москва, заказать минивэн такси, такси минивэн в аэропорт, недорогое такси минивэн, дешевое такси минивэн, такси минивэн москва недорого, аренда такси минивэн, заказ такси минивэн, минивэн такси москва дешево, минивэн такси в домодедово, такси минивэн в область, аренда минивэна такси в москве, такси минивэн цена, заказать такси минивэн в москве, такси минивэн в аэропорт домодедово, такси тариф минивэн, заказать такси минивэн в москве недорого,  детское такси минивэн,  заказ такси минивэн в москве,  такси минивэн фиксированная цена, такси минивэн фиксированный тариф, такси минивэн москва фиксированный тариф, такси минивэн москва дешево фиксированный тариф, такси минивэн межгород, заказать минивэн такси дешево';
block content
	+header
	+main
	+footer
