extends ../components/layout-default/layout-default
include ../components/header/header
include ../components/content/tariffs/universal
include ../components/footer/footer

block head
	- var pageTitle = 'Такси универсал';
	- var pageDescription = 'Такси универсал 7 495 133 62 26. Заказ такси универсал Москва';
	- var pageKeywords = 'такси универсал, такси универсал москва, такси универсал москва недорого,  такси форд универсал,  заказать такси универсал, дешевые такси универсал,  такси универсал москва дешево, такси универсал цена, заказ такси универсал, заказ такси универсал в москве, такси кузовом универсал, такси универсал фиксированная цена, такси универсал аэропорт, заказать такси универсал москве, легковое такси универсал';
block content
	+header
	+main
	+footer
