// Common styles of the project
html
	font-size 62.5%
	box-sizing border-box
*, *:before, *:after
	box-sizing inherit
body
	font-family $font
	font-size 1.6rem
img
	max-width 100%
	height auto
	box-sizing content-box
a
	text-decoration none
ul
	list-style none
ul,li,p,h1,h2,h3
	margin 0
	padding 0
.page__inner
	display: flex
	min-height 100vh
	flex-direction column
.page-content
	flex 1
	// max-width $page-width
	margin 0 auto
.center
	width $page-width
	margin 0 auto
	padding 0 40px
