// File for vars.
// For example: main colors, paddings and so on.
$main-menu-hover = #36c
$sub-menu-bg = #f8f8f8
$form-btn = #3f51b5
$yellow = #ff0
$red = #f33
$dark-red = #933
$white = #fff
$dark = #282828

$page-width = 1200px
