// File for vars.
media_queries = {
	mobile  : "only screen and (max-width: 600px)",
	tablet  : "only screen and (min-width: 601px) and (max-width: 800px)",
	desktop : "only screen and (min-width: 801px)"
}
// For example: main colors, paddings and so on.
$main-menu-hover = #36c
$sub-menu-bg = #f8f8f8
$form-btn = #3f51b5
$yellow = #ff0
$red = #f33
$dark-red = #933
$white = #fff
$dark = #282828
$black = #000

$page-width = 1280px
