// File for vars.
media_queries = {
	mobile  : "(max-width: 32rem)",
	largeMobile: "(max-width: 54.4rem)"
	tablet  : "(max-width: 76.8rem)",
	desktop : "(max-width: 99.2rem)",
	hqdesktop: "(max-width: 120rem)"
}
// For example: main colors, paddings and so on.
$main-menu-hover = #36c
$sub-menu-bg = #f8f8f8
$form-btn = #3f51b5
$yellow = #ff0
$red = #f33
$dark-red = #933
$white = #fff
$dark = #282828
$black = #000

$page-width = 1280px
