include ../../promo/promo
include ../../tariffs/tariffs
include ../../services/services
include ../../reviews/reviews
include ../../advantages/advantages
mixin main()
	+b.MAIN.page-content
		+e.inner.center
			+promo
			+tariffs('index')
			+services
			+reviews
			+advantages
