.page-footer
	background-image url(%=static=%general/footer-bg.jpg)
	background-repeat no-repeat
	background-size cover
	&__inner
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		align-items: flex-end;
		padding-top 60px
		padding-bottom 60px
		min-height 800px
		@media (max-width: 930px)
			min-height 700px
			align-items: center;
		@media (max-width: 480px)
			min-height 400px
	&__right-col
		text-align center
		padding-right 70px
		@media (max-width: 975px)
			padding-right 0
		.logo
			position static
			margin-bottom 60px
			padding-top 0
			@media (max-width: 930px)
				width 150px
				height 150px
				margin 0 auto
	&__text
		margin-bottom 80px
		color $white
		font-size 2.4rem
		line-height 4.5rem
		font-weight 300
		@media (max-width: 930px)
			margin-bottom 90px
		strong
			font-weight 300
		span
			color $yellow
	&__write-us
		display inline-block
		vertical-align top
		margin-bottom 90px
		padding 0 43px
		color $white
		font-size 1.6rem
		line-height 3.6rem
		font-weight 300
		border 3px solid #ff0
		border-radius 20px
		@media (max-width: 768px)
			margin-bottom 60px
		&:hover
			border 3px solid $white
		