mixin navigation()
	+b.NAV#navigation.navigation
		.nav-header
			.nav-toggle
		.nav-menus-wrapper
			ul.nav-menu
				li.active
					a(href='#') Тарифы
					ul.nav-dropdown.nav-dropdown-horizontal
						.container
							li
								a(href='#') Эконом
							li
								a(href='#') Комфорт
							li
								a(href='#') Универсал
							li
								a(href='#') Бизнес
							li
								a(href='#') Минивэн
							li
								a(href='#') Микроавтобус
				li
					a(href='#') Область
				li
					a(href='#') О нас
				li
					a(href='#') Отзывы
