mixin navigation()
	+b.NAV#navigation.navigation
		.nav-header
			.nav-toggle
		.nav-menus-wrapper
			ul.nav-menu
				li.active
					a(href='#') Тарифы
					ul.nav-dropdown.nav-dropdown-horizontal
						li
							a(href='econom-tariff.html') Эконом
						li
							a(href='comfort-tariff.html') Комфорт
						li
							a(href='universal-tariff.html') Универсал
						li
							a(href='biznes-tariff.html') Бизнес
						li
							a(href='miniven-tariff.html') Минивэн
						li
							a(href='minibus-tariff.html') Микроавтобус
				li
					a(href='#') Область
				li
					a(href='#') О нас
				li
					a(href='#') Отзывы
