mixin navigation()
	+b.NAV#navigation.navigation
		.nav-header
			.nav-toggle
		.nav-menus-wrapper
			ul.nav-menu
				li.active
					a(href='#' tabindex='1') Тарифы
					ul.nav-dropdown.nav-dropdown-horizontal
						li
							a(href='econom-tariff.html' tabindex='2') Эконом
						li
							a(href='comfort-tariff.html' tabindex='3') Комфорт
						li
							a(href='universal-tariff.html' tabindex='4') Универсал
						li
							a(href='biznes-tariff.html' tabindex='5') Бизнес
						li
							a(href='miniven-tariff.html' tabindex='6') Минивэн
						li
							a(href='minibus-tariff.html' tabindex='7') Микроавтобус
				li
					a Область
				li
					a Отзывы
