.reviews
	&__header
		display -webkit-flex
		display -ms-flex
		display flex
		margin-bottom 50px
		h2
			font-size 3rem
			line-height 3.6rem
			font-weight 300
	&__leave-review
		display inline-block
		vertical-align top
		margin-left auto
		padding-left 43px
		padding-right 43px
		color $black
		font-size 1.4rem
		line-height 3.6rem
		font-weight 700
		border 2px solid #36c
		border-radius 20px
	&__item
		display -webkit-flex
		display -ms-flex
		display flex
		flex-direction column
		min-height 430px!important
		margin-right: 40px
		padding 20px
		background-color #e6e6e6
		background-image linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%)
		border-radius 8px
	&__item-img
		align-self center
		width 178px
		height 178px
		margin-bottom 15px
		border-radius 50%
		overflow: hidden
	&__item-text
		font-size 1.4rem
		line-height 2.1rem
		font-weight 300
	&__item-name
		margin-top auto
		color $black
		font-size 1.4rem
		line-height 2.1rem
		font-weight 400
		