mixin reviews(data)
	+b.SECTION.reviews
		+e.HEADER.header
			h2 Отзывы
			+e.A(href='#').leave-review Оставить отзыв
		+e.list.slick
			+e.item 
				+e.item-img
					img(src='%=static=%img/general/face.png' width='178' height='178' title='' alt='')
				+e.item-text «Отличный сервис! Помогли успеть на важную встречу обогнав все Московские пробки!»
				+e.item-name Андрей, 22 года
			+e.item 
				+e.item-img
					img(src='%=static=%img/general/face.png' width='178' height='178' title='' alt='')
				+e.item-text «Отличный сервис! Помогли успеть на важную встречу обогнав все Московские пробки!»
				+e.item-name Андрей, 22 года
			+e.item 
				+e.item-img
					img(src='%=static=%img/general/face.png' width='178' height='178' title='' alt='')
				+e.item-text «Отличный сервис! Помогли успеть на важную встречу обогнав все Московские пробки!»
				+e.item-name Андрей, 22 года
			+e.item 
				+e.item-img
					img(src='%=static=%img/general/face.png' width='178' height='178' title='' alt='')
				+e.item-text «Отличный сервис! Помогли успеть на важную встречу обогнав все Московские пробки!»
				+e.item-name Андрей, 22 года
			+e.item 
				div 5
			+e.item 
				div 6
	//- .slick
	//- 	div 1
	//- 	div 2
	//- 	div 3
	//- 	div 4
	//- 	div 5
	//- 	div 6
