mixin advantages(data)
	+b.SECTION.advantages
		+e.inner
			+e.UL.list
				+e.LI.item Низкие цены
				+e.LI.item Скорость приемаа заказов
				+e.LI.item Смс отслеживание
				+e.LI.item 24 часа в сутки
				+e.LI.item Фиксированная цена
				+e.LI.item Хорошие машины
