.advantages
	&__inner
		padding-top 30px
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content: space-between;
	&__item
		outline 1px solid
		padding-top 65px
