.advantages
	&__inner
		padding-top 30px
		margin-bottom 100px
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content: space-between;
	&__item
		padding-top 85px
		color $black
		font-size 1.4rem
		line-height 2.1rem
		font-weight 300
		text-align center
		background-size 52px 52px
		background-repeat no-repeat
		background-position 50% 50%
		&_price
			background-image: url(%=static=%minified-svg/icon4-1.svg);
		&_speed
			background-image: url(%=static=%minified-svg/icon4-2.svg);	
		&_sms
			background-image: url(%=static=%minified-svg/icon4-3.svg);		
		&_24-hours	
			background-image: url(%=static=%minified-svg/icon4-4.svg);
		&_fix-price	
			background-image: url(%=static=%minified-svg/icon4-5.svg);
		&_good-cars
			background-image: url(%=static=%minified-svg/icon4-6.svg);
			