mixin advantages(data)
	+b.SECTION.advantages
		+e.inner
			+e.UL.list
				+e.LI.item._price Низкие цены
				+e.LI.item._speed Скорость приема заказов
				+e.LI.item._sms Смс отслеживание
				+e.LI.item._24-hours 24 часа в сутки
				+e.LI.item._fix-price Фиксированная цена
				+e.LI.item._good-cars Хорошие машины
