.phone
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content: space-between;
	align-items: center;
	margin-left auto
	&__btn
		display inline-block
		vertical-align top
		padding-left 42px
		padding-right 42px
		font-size 1.8rem
		line-height 3.6rem
		border 3px solid $form-btn
		border-radius 20px
		cursor pointer
		&:hover
			border-color $yellow
	&__link
		display inline-block
		vertical-align top
		margin-right 40px
		font-size 1.6rem
		line-height 3.6rem
		color inherit
			