.phone
	display -webkit-flex
	display -ms-flex
	display flex
	justify-content: space-between;
	align-items: center;
	margin-left auto
	&__btn
		display inline-block
		vertical-align top
		padding-left 42px
		padding-right 42px
		font-size 1.8rem
		line-height 3.6rem
		border 3px solid $form-btn
		border-radius 20px
		cursor pointer
		&:hover
			border-color $yellow
	&__number
		display inline-block
		vertical-align top
		width 162px
		height 16px
		margin-right 40px
		background-image url(%=static=%minified-svg/phone.svg)
		background-repeat no-repeat
			