mixin services(data)
	+b.SECTION.services
		+e.inner.center
			+e.H2.title Дополнительные услуги
			+e.UL.list
				+e.LI.item._tablet Встреча в аэропорту с табличкой
					span + 200 &#8381;
				+e.LI.item._car-smoke Прикурить автомобиль
					span + 1000 &#8381;
				+e.LI.item._wait-1-hour 1 час ожидания после посадки самолета
					span Бесплатно
				+e.LI.item._transfer Отслеживаем все рейсы
					span Бесплатно
				+e.LI.item._english-language Водитель со знанием английского языка
					span + 200 &#8381;
				+e.LI.item._pet Перевозка животного
					span + 100 &#8381;
				+e.LI.item._smoke Курящий салон
					span + 100 &#8381;
				+e.LI.item._child-chare Подача такси с детским креслом
					span + 100 &#8381;
