.services
	&__inner
		padding-top 70px
	&__title
		margin-bottom 50px
		color $black
		font-size 3rem
		line-height 3.6rem
		font-weight 300
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
		justify-content: space-between;
		// padding-left 40px
		// padding-right 40px
	&__item
		display -webkit-flex
		display -ms-flex
		display flex
		align-items: center;
		width 45%
		margin-bottom 15px
		padding-left 90px
		min-height 60px
		color $black
		font-size 1.6rem
		line-height 3.2rem
		font-weight 300
		background-size 50px 50px
		background-repeat no-repeat
		background-position left 5%
		&:nth-child(odd)
			padding-right 20px
		&_tablet
			background-image url(%=static=%minified-svg/icon3-1.svg)
		&_car-smoke
			background-image url(%=static=%minified-svg/icon3-5.svg)
		&_wait-1-hour
			background-image url(%=static=%minified-svg/icon3-2.svg)
		&_child-chare
			background-image url(%=static=%minified-svg/icon3-6.svg)
		&_english-language
			background-image url(%=static=%minified-svg/icon3-3.svg)
		&_pet
			background-image url(%=static=%minified-svg/icon3-7.svg)
		&_smoke
			background-image url(%=static=%minified-svg/icon3-4.svg)
		&_transfer
			background-image url(%=static=%minified-svg/icon3-8.svg)
		span
			margin-left auto
			min-width 60px
			color $red
			font-size 1.6rem
			line-height 2.4rem
			font-weight 700
