.services
	&__inner
		padding-top 70px
		padding-left 40px
		padding-right 40px
	&__title
		margin-bottom 60px
		color $black
		font-size 3rem
		line-height 3.6rem
		font-weight 300
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		flex-wrap wrap
	&__item
		display -webkit-flex
		display -ms-flex
		display flex
		align-items: center;
		width 50%
		padding-left 90px
		min-height 60px
		color $black
		font-size 1.6rem
		line-height 3.2rem
		font-weight 300
		background-size 60px 60px
		background-repeat no-repeat
		background-position 10px 5%
		background-color $dark
		&_tablet
			background-image url(%=static=%minified-svg/123.svg)
		&_car-smoke
			background-image url(%=static=%minified-svg/123.svg)
		&_wait-1-hour
			background-image url(%=static=%minified-svg/123.svg)
		&_child-chare
			background-image url(%=static=%minified-svg/123.svg)
		&_english-language
			background-image url(%=static=%minified-svg/123.svg)
		&_pet
			background-image url(%=static=%minified-svg/123.svg)
		&_smoke
			background-image url(%=static=%minified-svg/123.svg)
		&_transfer
			background-image url(%=static=%minified-svg/123.svg)
		span
			margin-left auto
			color $red
			font-size 1.6rem
			line-height 2.4rem
			font-weight 700
