include ../../promo/promo
include ../../town-regions-prices/town-regions-prices
include ../../transfer-airport/transfer-airport
include ../../transfer-station/transfer-station
include ../../services/services
include ../../reviews/reviews
include ../../advantages/advantages
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			+b.SECTION.tariff-page
				+e.inner._biznes.center
					+e.UL.list
						+e.LI.item._min-price
							span Минимальная цена
							b #{data.tariffs[3].price[0]} &#8381;
						+e.LI.item._min-race
							span Минимальная поездка
							b #{data.tariffs[3].price[1]} км
						+e.LI.item._drive-more
							span Далее за километр
							b #{data.tariffs[3].price[2]} &#8381;
					+e.H2.title Тариф "#{data.tariffs[3].name}"
					p Хватит добираться к терминалам аэровокзала на автобусах и экспрессах, волоча за собой неподъемный багаж! Благодаря нашей компании 
						strong дешевое такси в аэропорт Домодедово 
						|теперь не миф, а реальность доступная каждому.
			+town-regions-prices(data,{
				name:'biznes',
				nameRus:'Бизнес'
				})
			+transfer-airport({tariff:'Бизнес',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[2500,2100],
												link:['link1.html','link2.html']
												})
			+transfer-station({tariff:'Бизнес',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[2100],
												link:['link1.html','link2.html']
												})
			.content.center
				p С каждым годом услуги служб такси становятся все более популярными не только среди обычного населения, но и среди предпринимателей. Такую тенденцию достаточно просто объяснить: содержание автопарка или личного водителя не всегда рентабельно с точки зрения бизнеса, да и экономическая ситуация в стране вынуждает в какой-то мере сократить расходы на транспорт компании. В такой ситуации идеальным решением становится услуга 
					strong такси бизнес класса Москва 
					|от нашей службы, которая позволяет добраться до места назначения быстро и максимально комфортно. 
				p.no-indent Услуга 
					strong такси бизнес Москва. Тарифы 
					|доступные каждому!
				p Настоящий преуспевающий бизнесмен, который ценит каждую рабочую минуту, по достоинству оценит услугу 
					strong такси бизнес-класса 
					|от нашей компании.  Мы предлагаем свои клиентам полный спектр качественных услуг и высокого сервиса в сочетании с приятными тарифами и системами бонусов для постоянных клиентов. Пользуясь услугами 
					strong такси бизнес 
					|сегмента вы получаете:
				ul
					li Мгновенное реагирование на заказ и молниеносная подача машины;
					li Возможность выбрать подходящий автомобиль из нашего вип-автопарка;
					li Удобную навигацию при заказе и отслеживание авто в пути;
					li Компетентные и молчаливые водители с многолетним стажем вождения;
					li Гарантия безопасности на всем отрезке пути;
					li Экономически выгодные тарифы и дисконтные программы для постоянных пассажиров;
					li Возможность организации корпоративных выездов и многое другое.
				p.no-indent Кому нужна услуга 
					strong бизнес такси Москва?
				p На сегодняшний день услугами вип-автомобилей пользуются как представители крупного, так и мелкого бизнеса. Предложение такого рода позволяет комфортно передвигаться по городу, даже если вы находитесь в другой стране. Кроме того, в случае командировки вам не придется платить огромные суммы за парковку на территории аэропортов и вокзалов, достаточно набрать контактный номер нашей службы и воспользоваться услугой 
					strong бизнес такси в аэропорт 
					|или 
					strong бизнес такси на вокзал, стоимость 
					|которых значительно ниже тарифов автостоянки. Также вы можете воспользоваться услугами бизнес-авто, если вам необходимо встретить друзей или партнеров в аэропорту. Наш водитель прибудет в место назначения в четко оговоренное время и при необходимости встретит вашего гостя с табличкой прямо в зале прилета.
				p.no-indent Сколько стоит такси бизнес сегмента?
				p Стоимость услуги такси бизнес класса зависит от комплектации автомобиля и времени, которое необходимо заказчику. На страницах нашего сайта  вы можете ознакомиться с автопарком таксосервиса, и выбрать наиболее подходящий вариант для вашей поездки.
				p.no-indent Как сделать 
					strong заказ бизнес такси Москвы
					|?
				p Чтобы воспользоваться услугами бизнес авто в нашей компании, достаточно связаться с нашими менеджерами по контактным телефонам либо оставить запрос на обратный звонок на нашем сайте. 
					|Мы моментально реагируем на заказ и связываемся с клиентом в течение нескольких минут.
					|Стоимость заказа вы можете рассчитать с помощью онлайн-калькулятора, а для тех, кто находится за пределами города, есть возможность предварительного заказа такси. 

			+services
			//- +reviews
			+advantages
