include ../../promo/promo
//- include ../../tariffs/tariffs
//- include ../../tariff-inner/tariff-inner
include ../../town-regions-prices/town-regions-prices
include ../../transfer-airport/transfer-airport
include ../../transfer-station/transfer-station
include ../../services/services
include ../../reviews/reviews
include ../../advantages/advantages
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			+b.SECTION.tariff-page
				+e.inner._comfort.center
					+e.UL.list
						+e.LI.item._min-price
							span Минимальная цена
							b #{data.tariffs[1].price[0]} &#8381;
						+e.LI.item._min-race
							span Минимальная поездка
							b #{data.tariffs[1].price[1]} км
						+e.LI.item._drive-more
							span Далее за километр
							b #{data.tariffs[1].price[2]} &#8381;
					+e.H2.title Тариф "#{data.tariffs[1].name}"
					p Хватит добираться к терминалам аэровокзала на автобусах и экспрессах, волоча за собой неподъемный багаж! Благодаря нашей компании 
						strong дешевое такси в аэропорт Домодедово 
						|теперь не миф, а реальность доступная каждому.
			+town-regions-prices(data,{
				name:'comfort',
				nameRus:'Комфорт'
				})
			+transfer-airport({tariff:'Комфорт',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[1700,1500],
												link:['link1.html','link2.html']
												})
			+transfer-station({tariff:'Комфорт',
												from:'Домодедово',
												to:['Ж/Д вокзал','Внуково'],
												price:[1400],
												link:['link1.html','link2.html']
												})
			.content.center
				p.no-indent
					strong Такси комфорт недорого 
					|– это высокое качество сервиса и обслуживания пассажиров
				p Высокие стандарты обслуживания клиентов – это то, что отличает нашу службу такси от конкурентов. Сегодня в Москве достаточно большое количество различных таксомоторных компаний, поэтому перед потенциальным заказчиком порой стоит непростой выбор. Наша компания работает на результат, цель которого довольный пассажир, который станет постоянным пользователем услуги 
					strong такси комфорт
					|. Именно поэтому мы разработали специальную систему пассажироперевозок, 
					|которая позволяет за небольшие деньги получать качественный сервис. Мы предлагаем следующее:
				p 1. 
					strong Такси комфорт дешево
					|: водители
					br
					|Наша команда – это высокопрофессиональные, стрессоустойчивые и компетентные водители с многолетним стажем работы в сегменте обслуживания пассажиров. Мы сами подбираем персонал и занимаемся их обучением по современным европейским стандартам, чтобы наши клиенты получали от поездки только положительные эмоции и хотели вернуться к нам снова.
				p 2. 
					strong Такси комфорт класса
					|: служба диспетчеров
					br
					|Огромное значение в работе любой службы такси имеет правильно организованная диспетчерская служба. Основной задачей менеджера-диспетчера является оперативное реагирование на заказ, вежливое общение, грамотная консультация и максимальная внимательность в часы пик. Диспетчера нашего таксопарка демонстрируют высокие показатели в общении с клиентами, и своевременно выполняют все поставленные задачи. 
				p 3. 
					strong Такси комфорт Москва
					|: оперативность
					br
					|Главная цель любой службы такси – это максимально быстрое реагирование на заказ и оперативная подача авто. Наша команда с легкостью справляется с этой задачей, поскольку мы работаем с современным спутниковым оборудованием, позволяющее максимально точно рассчитать схему маршрута и время, затраченное на поездку. Наши водители прекрасно ориентируются в городе, а слаженная командная работа диспетчеров и шоферов позволяет быстро доставить клиента на место, минуя пробки на дорогах.
				p 4. 
					strong Такси комфорт недорого 
					|– современные авто бизнес-класса
					br
					|Москва один из самых дорогих и современных городов мира, поэтому жители мегаполиса привыкли к высокому качеству обслуживания и комфортным условиям во всех сферах, в том числе и в сфере пассажироперевозок. Наша служба такси предоставляет такие условия по ценам, приемлемым каждому горожанину со средним достатком. Наш автопарк насчитывает сотни новых иномарок различного класса, которые отвечают всем требования современного комфортного такси европейского стандарта. 
					strong Заказать такси комфорт 
					|у нас, это значит получить 100% гарантию безопасности поездки и качественный сервис.
				p Как воспользоваться услугой 
					strong такси комфорт? Телефон 
					|или онлайн-заявка?
				p Современный мир намного отличается от того, что было 10 лет назад. Изменения коснулись и таксопарков. Наша работа направлена на обслуживание различных поколений, поэтому мы предлагаем несколько вариантов вызова автомобиля. Вы можете воспользоваться контактными телефонами и связаться с нашими диспетчерами, либо с помощью мобильного приложения и сети интернет оставить онлайн-заказ. Независимо от способа подачи заявки, 
					|ваш заказ поступит в обработку в течение нескольких минут, а наш диспетчер свяжется с вами для уточнения деталей заказа.
			+services
			//- +reviews
			+advantages
