include ../../promo/promo
//- include ../../tariffs/tariffs
//- include ../../tariff-inner/tariff-inner
include ../../town-regions-prices/town-regions-prices
include ../../transfer-airport/transfer-airport
include ../../transfer-station/transfer-station
include ../../services/services
include ../../reviews/reviews
include ../../advantages/advantages
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			+b.SECTION.tariff-page
				+e.inner._econom.center
					+e.UL.list
						+e.LI.item._min-price
							span Минимальная цена
							b #{data.tariffs[0].price[0]} &#8381;
						+e.LI.item._min-race
							span Минимальная поездка
							b #{data.tariffs[0].price[1]} км
						+e.LI.item._drive-more
							span Далее за километр
							b #{data.tariffs[0].price[2]} &#8381;
					+e.H2.title Тариф "#{data.tariffs[0].name}"
					p Хватит добираться к терминалам аэровокзала на автобусах и экспрессах, волоча за собой неподъемный багаж! Благодаря нашей компании 
						strong дешевое такси в аэропорт Домодедово 
						|теперь не миф, а реальность доступная каждому.
			+town-regions-prices(data,{
				name:'econom',
				nameRus:'Эконом'
				})
			+transfer-airport({tariff:'Эконом',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[1600,1400],
												link:['link1.html','link2.html']
												})
			+transfer-station({tariff:'Эконом',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[1300],
												link:['link1.html','link2.html']
												})
			.content.center
				p Сегодня москвичам и гостям столицы не составляет труда добраться на вокзал или в аэропорт, поскольку количество новых авто перевозчиков ежедневно растет в геометрической прогрессии. Несмотря на большой выбор найти действительно ответственную службу с оптимальной ценовой политикой на поездки очень сложно. Как часто вы сталкивались с ситуацией, когда после получасового ожидания диспетчер сообщает вам, что водитель задерживается, или заказ не может быть обработан в данный момент, а вы опаздываете в аэропорт? Такие ситуации, к сожалению, очень частое явление, за которые большинство перевозчиков не несут ответственности, а клиент терпит неудобства и убытки. Именно поэтому очень важно найти ту компанию, которая после первой поездки станет вашим неизменным помощником и путеводителем. Если вы не знаете, как быстро и недорого добраться в аэропорт, воспользуйтесь услугой «такси Домодедово дешевая цена» от нашей службы, и вы больше никогда не захотите пользоваться предложениями других перевозчиков.
				p.no-indent Услуга 
					strong «такси в аэропорт Домодедово фиксированная» 
					|- дешево, надежно, комфортно.
				p Наша компания - это команда профессионалов, которая имеет многолетний опыт работы в сфере пассажироперевозок и знает что нужно для комфорта клиента. Благодаря четкой и слаженной работе коллектива и понимания потребностей пассажиров, сегодня мы предлагаем 
					strong самое дешевое такси в Домодедово 
					|не только в Москве, но и в Подмосковье.
				p  Что подразумевает под собой фиксированная ставка? Это значит, что цена на поездки в аэропорт заморожена и может изменяться только в случае использования дополнительных услуг компании. Наши клиенты не платят за «воздух», простой в пробках или некомпетентность водителя. Подача машины осуществляется не позднее 15 минут после поступления заказа в обработку нашим диспетчером, а для тех, кто любит планировать свои путешествия заранее, есть возможность оставить предварительный заказ на 			услугу 
					strong «такси в Домодедово дешево» 
					|на нашем сайте или по контактному телефону.
				p Особенностью нашей службы такси является большой автопарк, в котором представлены автомобили различного сегмента: эконом, средний и бизнес-класс. Именно поэтому наши клиенты имеют возможность выбрать именно ту машину, которая соответствует их статусу и финансовым возможностям. 
					| Мы гарантируем 100% безопасность в дороге, поскольку ежедневно следим за техническим состоянием авто и здоровьем наших водителей. Для самых маленьких пассажиров у нас предусмотрены детские кресла, поэтому комфортно, спокойно и безопасно в пути будет не только малышам, но и их родителям. Дешевое такси в аэропорт Домодедово от нашего такси-сервиса –  это возможность быстро попасть к терминалу при этом существенно сэкономив средства.
				p.no-indent Почему стоит заказать услугу 
					strong «такси Домодедово дешево» 
					|у нас?
				ul
					li Фиксированная ставка на услугу;
					li Компетентные неболтливые водители;
					li Трансфер в/с аэропорта, встреча ваших партнеров;
					li Большой автопарк;
					li Возможноcть предварительного заказа из любого региона России;
					li Множество дополнительных услуг (курьерские, «трезвый водитель» и прочее).
			+services
			//- +reviews
			+advantages
