include ../../promo/promo
include ../../town-regions-prices/town-regions-prices
include ../../transfer-airport/transfer-airport
include ../../transfer-station/transfer-station
include ../../services/services
include ../../reviews/reviews
include ../../advantages/advantages
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			+b.SECTION.tariff-page
				+e.inner._microbus.center
					+e.UL.list
						+e.LI.item._min-price
							span Минимальная цена
							b #{data.tariffs[5].price[0]} &#8381;
						+e.LI.item._min-race
							span Минимальная поездка
							b #{data.tariffs[5].price[1]} км
						+e.LI.item._drive-more
							span Далее за километр
							b #{data.tariffs[5].price[2]} &#8381;
					+e.H2.title Тариф "#{data.tariffs[5].name}"
					p Хватит добираться к терминалам аэровокзала на автобусах и экспрессах, волоча за собой неподъемный багаж! Благодаря нашей компании 
						strong дешевое такси в аэропорт Домодедово 
						|теперь не миф, а реальность доступная каждому.
			+town-regions-prices(data,{
				name:'minibus',
				nameRus:'Микроавтобус'
				})
			+transfer-airport({tariff:'Микроавтобус',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[5200,4800],
												link:['link1.html','link2.html']
												})
			+transfer-station({tariff:'Микроавтобус',
												from:'Домодедово',
												to:['Ж/Д вокзал','Внуково'],
												price:[4800],
												link:['link1.html','link2.html']
												})
			.content.center
				p Вы хотите выехать на природу большой компанией, но не имеете возможности разместить всех пассажиров в своем авто? Вы планируете поездку в аэропорт несколькими семьями? А возможно вам необходимо организовать поездку группе ваших сотрудников? Какая цель не стояла бы перед вами, необходимо найти транспорт, который будет комфортабельным и вместительным. Здорово, когда вы располагаете собственным микроавтобусом или минивэном, а если нет? 
					|В такой ситуации необходимо найти ответственную 	службу такси, которая сможет предоставить услугу в соответствии с требованием клиента. Наша компания предлагает вам воспользоваться услугой 
					strong такси микроавтобус Москва 
					|недорого для большой компании путешественников. Если вы в поиске вместительного, функционального и комфортабельного авто, рекомендуем попробовать предложение от нашей таксослужбы.
				p.no-indent Услуга 
					strong «такси микроавтобус» - недорого 
					|и доступно.
				p Что больше всего пугает заказчика при организации групповой поездки? Конечно же – это ценовая политика таксосервиса. Благодаря отменной репутации и многолетнему стажу работы в сфере пассажироперевозок, мы смогли разработать специальный тарифный план для поездок машинами 
					strong такси-микроавтобус
					|. Наша команда в первую очередь заинтересована в том, чтобы клиент из новичка превратился в постоянного заказчика. Именно поэтому мы постоянно работаем над улучшением не только качества предоставляемой услуги, но и над ценовой политикой компании.
				p.no-indent Кому нужна услуга 
					strong такси микроавтобус Москва
					|?
				p Казалось бы, необходимость 
					strong заказать такси микроавтобус 
					|возникает крайне редко. Однако это не так! Услуга организации групповой пассажироперевозки станет лучшим решением в таких ситуациях как:
				ul
					li Свадьба, день рождения, корпоративное торжество, либо наоборот печальные события;
					li Экскурсионные туры малых групп или ваших гостей;
					li Совместная поездка с несколькими попутчиками  на 
						strong такси микроавтобус в аэропорт или ж.д вокзал;
					li Выезд на пикники или в подмосковные пансионаты и многое другое.
				p.no-indent Как сделать 
					strong заказ такси микроавтобус
					|?
				p Заявку на заказ микроавтобуса для групповых поездок лучше оставлять заблаговременно на нашем сайте либо по контактному номеру телефона. Вам необходимо сообщить нашему диспетчеру точную дату, время и место, куда необходимо подать машину, а также конечный адрес. При необходимости вы можете заказать микроавтобус на несколько часов либо воспользоваться услугой доставки и встречи пассажиров.
				p.no-indent Почему мы?
				ul
					li Современные микроавтобусы, оснащенные кондиционерами, микрофоном и комфортабельными раскладными сидениями;
					li Опытные компетентные водители, знающие город и прекрасно ориентирующиеся на местности без дополнительных устройств;
					li Грамотные высококвалифицированные диспетчеры, которые прошли специальное обучение в нашей компании прежде, чем начать работу с клиентами;
					li Большой спектр предоставляемых услуг, а также лояльные цены и специальные дисконтные программы для больших групп;
					li Оперативная подача авто и возможность предварительного заказа микроавтобуса согласно требованиям и пожеланиям заказчика.
			+services
			//- +reviews
			+advantages
