include ../../promo/promo
include ../../town-regions-prices/town-regions-prices
include ../../transfer-airport/transfer-airport
include ../../transfer-station/transfer-station
include ../../services/services
include ../../reviews/reviews
include ../../advantages/advantages
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			+b.SECTION.tariff-page
				+e.inner._miniven.center
					+e.UL.list
						+e.LI.item._min-price
							span Минимальная цена
							b #{data.tariffs[4].price[0]} &#8381;
						+e.LI.item._min-race
							span Минимальная поездка
							b #{data.tariffs[4].price[1]} км
						+e.LI.item._drive-more
							span Далее за километр
							b #{data.tariffs[4].price[2]} &#8381;
					+e.H2.title Тариф "#{data.tariffs[4].name}"
					p Хватит добираться к терминалам аэровокзала на автобусах и экспрессах, волоча за собой неподъемный багаж! Благодаря нашей компании 
						strong дешевое такси в аэропорт Домодедово 
						|теперь не миф, а реальность доступная каждому.
			+town-regions-prices(data,{
				name:'miniven6',
				nameRus:'Минивэн'
				})
			+transfer-airport({tariff:'Минивэн',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[2300,2000],
												link:['link1.html','link2.html']
												})
			+transfer-station({tariff:'Минивэн',
												from:'Домодедово',
												to:['Ж/Д вокзал','Внуково'],
												price:[1900],
												link:['link1.html','link2.html']
												})
			.content.center
				p В условиях экономической нестабильности, пользоваться услугами такси доступно не каждому жителю нашего города. Однако ситуации, когда альтернативы такси нет, случаются довольно таки часто: это и поездки в аэропорт, вокзалы или за город. В таком случае рационально и экономически выгодно пользоваться услугой 
					strong такси минивэн
					|, которая позволяет группе незнакомых людей передвигаться по городу из одного в разные конечные пункты маршрута. Наша служба частных пассажироперевозок, как никто другой понимает, насколько важна экономическая сторона в поездке машиной такси. Именно поэтому мы внедрили услугу 
					strong такси минивэн Москва недорого
					|, которая позволяет разместить группу от 6 до 20 человек в одном авто и при этом существенно сэкономить на поездке.
				p.no-indent Услуга 
					strong такси минивэн дешево
					|. В чем преимущества?
				p Мы ценим время и средства наших клиентов, а также стремимся к тому, чтобы каждый новый пассажир стал нашим постоянным заказчиком. Именно поэтому мы разработали специальный тарифный план на 
					strong заказ такси минивэн
					|, который позволяет значительно сэкономить на транспортировке небольших групп людей. Это прекрасная альтернатива раздельным тарифам легковых такси, поскольку ценовая политика существенно отличается в меньшую сторону.  Кроме того, такое предложение по достоинству оценит группа путешественников и организаторов корпоративных командировок, которые имеют возможность заказать услугу 
					strong такси минивэн аэропорт 
					|или 
					strong такси минивэн вокзал 
					|по фиксированной цене. Благодаря вместительности автомобиля, вы не только комфортно доберетесь до места назначения, но и без проблем разместите объемный багаж. 
				p  В условиях высокой конкуренции очень важно сохранить высокое качество услуг и держать оптимальные тарифы на поездки. Мы работаем только на современном оборудовании и навигаторах, которые позволяют максимально точно рассчитать маршрут и существенно сократить километраж пути. Все это дает нам возможность держать минимальные цены на пассажироперевозки.
				p.no-indent Как 
					strong заказать такси минивэн 
					|в нашей компании?
				p Мы идем в ногу со временем, поэтому даем возможность нашим клиентам самостоятельно выбирать способ вызова машины такси. Для удобства на нашем сайте расположена специальная форма для онлайн-заказа, которая позволяет вввести все необходимые данные для поездки и рассчитать предварительную стоимость маршрута. Если вы привыкли вызывать машину по-старинке, для вас предусмотрена услуга обратного звонка: достаточно позвонить на короткий номер, 
					|указанный на сайте и наш менеджер в течение нескольких минут свяжется с вами для уточнения деталей предстоящей поездки.
				p Заказ групповой поездки требует более длительной обработки и поиска подходящего авто, поэтому заказывать услугу 
					strong такси минивэн Москва 
					|необходимо заблаговременно, четко указывая время, место, маршрут и количество человек и багажа.
				p.no-indent Почему мы?
				ul
					li Новые авто повышенного комфорта, оснащенные кондиционером и удобными креслами;
					li Опытные водители с многолетним стажем вождения;
					li Грамотные отзывчивые диспетчера;
					li Круглосуточная работа без выходных и перерывов.
			+services
			//- +reviews
			+advantages
