.tariff-page
	background-image url(%=static=%general/bg2.jpg)
	background-repeat: no-repeat
	background-size cover
	&__inner
		min-height 700px
		padding-top 40px
		&_econom
			background-image url(%=static=%content/cars/econom.png)
			background-repeat: no-repeat
			background-size 730px 270px
			background-position center bottom
		&_comfort
			background-image url(%=static=%content/cars/comfort.png)
			background-repeat: no-repeat
			background-size 730px 270px
			background-position center bottom
		&_universal
			background-image url(%=static=%content/cars/universal.png)
			background-repeat: no-repeat
			background-size 730px 270px
			background-position center bottom
		&_biznes
			background-image url(%=static=%content/cars/business.png)
			background-repeat: no-repeat
			background-size 730px 270px
			background-position center bottom
		&_miniven
			background-image url(%=static=%content/cars/miniven.png)
			background-repeat: no-repeat
			background-size 730px 270px
			background-position center bottom
		&_microbus
			background-image url(%=static=%content/cars/microbus.png)
			background-repeat: no-repeat
			background-size 730px 270px
			background-position center bottom
		
	&__list
		display -webkit-flex
		display -ms-flex
		display flex
		justify-content: space-between;
	&__item
		padding-left 100px
		padding-bottom 30px
		color $white
		font-size 1.4rem
		line-height 3.6rem
		font-weight 300
		background-size 60px 60px
		background-repeat no-repeat
		background-position left 5%
		b
			display block
			font-size 2.4rem
			line-height 3.6rem
			font-weight 300
		&_min-price
			background-image url(%=static=%minified-svg/icon2-1.svg)
		&_min-race
			background-image url(%=static=%minified-svg/icon2-2.svg)
		&_drive-more
			background-image url(%=static=%minified-svg/icon2-3.svg)
	&__title
		margin-bottom 30px
		color $white
		font-size 3rem
		line-height 3.6rem
		font-weight 300
	p
		width 70%
		color $white
		font-size 1.6rem
		line-height 2.6rem
		font-weight 300
