include ../../promo/promo
include ../../town-regions-prices/town-regions-prices
include ../../transfer-airport/transfer-airport
include ../../transfer-station/transfer-station
include ../../services/services
include ../../reviews/reviews
include ../../advantages/advantages
mixin main()
	+b.MAIN.page-content
		+e.inner
			+promo
			+b.SECTION.tariff-page
				+e.inner._universal.center
					+e.UL.list
						+e.LI.item._min-price
							span Минимальная цена
							b #{data.tariffs[2].price[0]} &#8381;
						+e.LI.item._min-race
							span Минимальная поездка
							b #{data.tariffs[2].price[1]} км
						+e.LI.item._drive-more
							span Далее за километр
							b #{data.tariffs[2].price[2]} &#8381;
					+e.H2.title Тариф "#{data.tariffs[2].name}"
					p Хватит добираться к терминалам аэровокзала на автобусах и экспрессах, волоча за собой неподъемный багаж! Благодаря нашей компании 
						strong дешевое такси в аэропорт Домодедово 
						|теперь не миф, а реальность доступная каждому.
			+town-regions-prices(data,{
				name:'universal',
				nameRus:'Универал'
				})
			+transfer-airport({tariff:'Универал',
												from:'Домодедово',
												to:['Шереметьево','Внуково'],
												price:[1800,1600],
												link:['link1.html','link2.html']
												})
			+transfer-station({tariff:'Универсал',
												from:'Домодедово',
												to:['Ж/Д вокзал','Внуково'],
												price:[1500],
												link:['link1.html','link2.html']
												})
			.content.center
				p В больших городах, таких как Москва, многие жители отказываются от поездок на собственном автотранспорте в пользу машинам такси. И это неудивительно! Такси не только обходится значительно дешевле, но и гарантирует оперативную доставку в место назначения, независимо от ситуации на столичных дорогах. Особой популярностью среди горожан пользуется услуга 
					strong такси универсал
					|, которая позволяет комфортно перемещаться по городу даже в часы пик. 
					|Преимуществом универсального авто является объемное багажное отделение в сочетании с просторным и комфортабельным салоном, что делает такую машину идеальным вариантом для поездок с небольшим грузом: спортинвентарь, кинотехника, чемоданы и различное оборудование.
				p.no-indent Услуга 
					strong такси универсал Москва - недорого
					|, быстро, надежно.
				p Среди большого количества служб такси, обычному потребителю транспортных услуг очень сложно определиться с перевозчиком. В такой ситуации главную роль играет стоимость услуги, которую предлагает та или иная компания. Наш сервис такси приглашает вас попробовать новую услугу 
					strong такси универсал фиксированный тариф
					|, которая позволяет существенно экономить на поездках, куда бы вы ни направлялись. 
					|Главное отличие нас от конкурентов, это низкая цена без потери высокого качества предоставляемых услуг, а также возможность подобрать наиболее приемлемый тарифный план на ту или иную поездку. Кроме того, у нас вы сможете оставить предварительный заказ на машину 
					strong такси универсал на вокзал
					|, либо вместе с другими попутчиками разделить стоимость 
					strong такси универсал аэропорт
					|. Этот способ пользуется наибольшей популярностью, поскольку позволяет существенно экономить средства и при этом не толкаться с огромным багажом в аэробусах, следующих к терминалам.
				p.no-indent Как заказать услугу 
					strong такси универсал Москва дешево
					|?
				p Для того, чтобы узнать стоимость поездки достаточно связаться с нашим диспетчером либо воспользоваться калькулятором расчета на сайте. Внимание! Для некоторых типов поездок стоимость может рассчитываться как почасово, так и по километражу. На отдельные услуги распространяется фиксированная ставка, которая не несет в себе никаких скрытых платежей и является окончательной, после подтверждения ее диспетчерской службой.
				p.no-indent Почему мы?
				ul
					li Оперативность и компетентность;
					li Квалифицированные сотрудники и водители с опытом вождения не менее 10 лет;
					li Комфортабельные современные авто;
					li Тщательный технический контроль каждого автомобиля, выезжающего на смену;
					li Собственный автопарк и СТО;
					li Конкурентные цены и дисконтные программы для новых и постоянных пассажиров нашей службы.
			+services
			//- +reviews
			+advantages
