mixin page()
	+b('body').page&attributes(attributes)
		// Google Tag Manager (noscript)
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W47S3NV', height='0', width='0', style='display:none;visibility:hidden')
		// End Google Tag Manager (noscript)
		+e.inner
			block
		.overlay
