mixin town-regions-prices(data,obj)
	+b.SECTION.districts-price
		+e.inner
			+e.H2.title #{obj.nameRus} тарифы в Домодедово
			p Фиксированная цена такси до аэропорта Домодедово
			+e.UL.list
				-for(var i = 0; i < data.regions.length; i++)
					+e.LI.item #{data.regions[i]}
						span #{data.price[obj.name][i]} &#8381;
