mixin town-regions-prices(data)
	+b.SECTION.districts-price
		+e.inner
			+e.H2.title #{data.tariffs[0].name} тарифы в Домодедово
			p Фиксированная цена такси до аэропорта Домодедово
			+e.UL.list
			-for(var i = 0; i < data.regions.length; i++)
				+e.LI.item #{data.regions[i].name}
					span #{data.regions[i].price} &#8381;
			